In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb

import pickle
from geopy.geocoders import Nominatim
from sklearn.model_selection import train_test_split

pd.set_option('display.max_columns', None)

# Import data and take a look at it

In [2]:
sample_df = pd.read_csv("train.csv")

In [3]:
sample_df.shape

(1458644, 11)

In [4]:
sample_df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

# Data Preprocessing

In [5]:
sample_df["store_and_fwd_flag"].value_counts()

N    1450599
Y       8045
Name: store_and_fwd_flag, dtype: int64

In [6]:
#Convert character variables to numeric 
f = lambda x: 0 if x == 'N' else 1

sample_df["store_and_fwd_flag"] = sample_df["store_and_fwd_flag"].apply(lambda x: f(x))

In [7]:
#Check result
sample_df["store_and_fwd_flag"].value_counts()

0    1450599
1       8045
Name: store_and_fwd_flag, dtype: int64

## Engineer features

In [8]:
#First, convert datetime strings into datetime
sample_df["dropoff_datetime"] = pd.to_datetime(sample_df["dropoff_datetime"], format='%Y-%m-%d %H:%M:%S')
sample_df["pickup_datetime"] = pd.to_datetime(sample_df["pickup_datetime"], format='%Y-%m-%d %H:%M:%S')

In [9]:
#Now construct other variables, like month, date, etc.
sample_df["pickup_month"] = sample_df["pickup_datetime"].dt.month
sample_df["pickup_day"] = sample_df["pickup_datetime"].dt.day
sample_df["pickup_weekday"] = sample_df["pickup_datetime"].dt.weekday #sample_df["pickup_weekday"] = sample_df["pickup_datetime"].dt.weekday_name
sample_df["pickup_hour"] = sample_df["pickup_datetime"].dt.hour
sample_df["pickup_minute"] = sample_df["pickup_datetime"].dt.minute

In [10]:
#Get latitude and longitude differences 
sample_df["latitude_difference"] = sample_df["dropoff_latitude"] - sample_df["pickup_latitude"]
sample_df["longitude_difference"] = sample_df["dropoff_longitude"] - sample_df["pickup_longitude"]

In [11]:
#Convert duration to minutes for easier interpretation
sample_df["trip_duration"] = sample_df["trip_duration"].apply(lambda x: round(x/60))

In [12]:
#Convert trip distance from longitude and latitude differences to Manhattan distance.
sample_df["trip_distance"] = 0.621371 * 6371 * (abs(2 * np.arctan2(np.sqrt(np.square(np.sin((abs(sample_df["latitude_difference"]) * np.pi / 180) / 2))), 
                                  np.sqrt(1-(np.square(np.sin((abs(sample_df["latitude_difference"]) * np.pi / 180) / 2)))))) + \
                                     abs(2 * np.arctan2(np.sqrt(np.square(np.sin((abs(sample_df["longitude_difference"]) * np.pi / 180) / 2))), 
                                  np.sqrt(1-(np.square(np.sin((abs(sample_df["longitude_difference"]) * np.pi / 180) / 2)))))))

In [13]:
sample_df.head(5)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_month,pickup_day,pickup_weekday,pickup_hour,pickup_minute,latitude_difference,longitude_difference,trip_distance
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,8,3,14,0,17,24,-0.002335,0.017525,1.372146
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,11,6,12,6,0,43,-0.007412,-0.019066,1.829440
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,35,1,19,1,11,35,-0.053852,-0.026306,5.538397
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,7,4,6,2,19,32,-0.013252,-0.002228,1.069567
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,7,3,26,5,13,30,-0.010689,0.000130,0.747485

# Modeling

In [14]:
X = sample_df.drop(["trip_duration", "id", "vendor_id", "pickup_datetime", "dropoff_datetime"], axis=1)
y = sample_df["trip_duration"]

In [15]:
#Split the data into training, test, and valdiation sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2018)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=2019)

In [16]:
#Define evaluation metric
def rmsle(y_true, y_pred):
    assert len(y_true) == len(y_pred)
    return np.square(np.log(y_pred + 1) - np.log(y_true + 1)).mean() ** 0.5

In [17]:
#XGBoost parameters 
params = {
    'booster':            'gbtree',
    'objective':          'reg:linear',
    'learning_rate':      0.05,
    'max_depth':          14,
    'subsample':          0.9,
    'colsample_bytree':   0.7,
    'colsample_bylevel':  0.7,
    'silent':             1,
    'feval':              'rmsle'
}

In [18]:
nrounds = 100

In [19]:
#Define train and validation sets
dtrain = xgb.DMatrix(X_train, np.log(y_train+1))
dval = xgb.DMatrix(X_val, np.log(y_val+1))

#this is for tracking the error
watchlist = [(dval, 'eval'), (dtrain, 'train')]

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [20]:
#Train model
gbm = xgb.train(params,
                dtrain,
                num_boost_round = nrounds,
                evals = watchlist,
                verbose_eval = True
                )

[0]	eval-rmse:2.00792	train-rmse:2.00719
[1]	eval-rmse:1.91382	train-rmse:1.91311
[2]	eval-rmse:1.8224	train-rmse:1.82168
[3]	eval-rmse:1.73565	train-rmse:1.73494
[4]	eval-rmse:1.65361	train-rmse:1.6529
[5]	eval-rmse:1.57611	train-rmse:1.57537
[6]	eval-rmse:1.50257	train-rmse:1.50187
[7]	eval-rmse:1.43242	train-rmse:1.43161
[8]	eval-rmse:1.36599	train-rmse:1.36503
[9]	eval-rmse:1.30343	train-rmse:1.30228
[10]	eval-rmse:1.24574	train-rmse:1.24448
[11]	eval-rmse:1.18978	train-rmse:1.18838
[12]	eval-rmse:1.13651	train-rmse:1.13492
[13]	eval-rmse:1.08712	train-rmse:1.08539
[14]	eval-rmse:1.0393	train-rmse:1.03723
[15]	eval-rmse:0.994321	train-rmse:0.992096
[16]	eval-rmse:0.951949	train-rmse:0.949308
[17]	eval-rmse:0.912967	train-rmse:0.910011
[18]	eval-rmse:0.874896	train-rmse:0.871427
[19]	eval-rmse:0.839136	train-rmse:0.835382
[20]	eval-rmse:0.805418	train-rmse:0.801181
[21]	eval-rmse:0.773897	train-rmse:0.768992
[22]	eval-rmse:0.745076	train-rmse:0.739719
[23]	eval-rmse:0.71703	train-rmse:0.711
[24]	eval-rmse:0.690659	train-rmse:0.683907
[25]	eval-rmse:0.665798	train-rmse:0.658527
[26]	eval-rmse:0.643085	train-rmse:0.635242
[27]	eval-rmse:0.621164	train-rmse:0.612581
[28]	eval-rmse:0.601466	train-rmse:0.592259
[29]	eval-rmse:0.58235	train-rmse:0.572553
[30]	eval-rmse:0.564944	train-rmse:0.554479
[31]	eval-rmse:0.548286	train-rmse:0.536712
[32]	eval-rmse:0.532795	train-rmse:0.520457
[33]	eval-rmse:0.518308	train-rmse:0.505289
[34]	eval-rmse:0.504796	train-rmse:0.491045
[35]	eval-rmse:0.492203	train-rmse:0.477523
[36]	eval-rmse:0.480778	train-rmse:0.464941
[37]	eval-rmse:0.470038	train-rmse:0.4534
[38]	eval-rmse:0.460333	train-rmse:0.442938
[39]	eval-rmse:0.451252	train-rmse:0.433007
[40]	eval-rmse:0.442578	train-rmse:0.423263
[41]	eval-rmse:0.43451	train-rmse:0.413901
[42]	eval-rmse:0.427188	train-rmse:0.405745
[43]	eval-rmse:0.420455	train-rmse:0.398187
[44]	eval-rmse:0.414319	train-rmse:0.390822
[45]	eval-rmse:0.408598	train-rmse:0.384192
[46]	eval-rmse:0.403338	train-rmse:0.378115
[47]	eval-rmse:0.398517	train-rmse:0.372512
[48]	eval-rmse:0.39405	train-rmse:0.367124
[49]	eval-rmse:0.390013	train-rmse:0.36214
[50]	eval-rmse:0.386213	train-rmse:0.357458
[51]	eval-rmse:0.382585	train-rmse:0.352541
[52]	eval-rmse:0.379488	train-rmse:0.348622
[53]	eval-rmse:0.376495	train-rmse:0.344806
[54]	eval-rmse:0.373927	train-rmse:0.341003
[55]	eval-rmse:0.371245	train-rmse:0.337181
[56]	eval-rmse:0.368864	train-rmse:0.333932
[57]	eval-rmse:0.366621	train-rmse:0.330852
[58]	eval-rmse:0.364515	train-rmse:0.327654
[59]	eval-rmse:0.362548	train-rmse:0.324538
[60]	eval-rmse:0.360787	train-rmse:0.322016
[61]	eval-rmse:0.359251	train-rmse:0.319661
[62]	eval-rmse:0.357855	train-rmse:0.317455
[63]	eval-rmse:0.356515	train-rmse:0.315184
[64]	eval-rmse:0.355293	train-rmse:0.31284
[65]	eval-rmse:0.354167	train-rmse:0.31046
[66]	eval-rmse:0.353183	train-rmse:0.308625
[67]	eval-rmse:0.352233	train-rmse:0.306565
[68]	eval-rmse:0.351345	train-rmse:0.304977
[69]	eval-rmse:0.350632	train-rmse:0.303613
[70]	eval-rmse:0.349871	train-rmse:0.302109
[71]	eval-rmse:0.349106	train-rmse:0.300844
[72]	eval-rmse:0.348393	train-rmse:0.299208
[73]	eval-rmse:0.347702	train-rmse:0.297595
[74]	eval-rmse:0.347197	train-rmse:0.296255
[75]	eval-rmse:0.346603	train-rmse:0.295078
[76]	eval-rmse:0.346154	train-rmse:0.293991
[77]	eval-rmse:0.345542	train-rmse:0.292433
[78]	eval-rmse:0.345088	train-rmse:0.291398
[79]	eval-rmse:0.344688	train-rmse:0.290312
[80]	eval-rmse:0.344333	train-rmse:0.289217
[81]	eval-rmse:0.343875	train-rmse:0.288073
[82]	eval-rmse:0.343518	train-rmse:0.287039
[83]	eval-rmse:0.343314	train-rmse:0.28625
[84]	eval-rmse:0.343016	train-rmse:0.28523
[85]	eval-rmse:0.342687	train-rmse:0.284327
[86]	eval-rmse:0.342249	train-rmse:0.283031
[87]	eval-rmse:0.341888	train-rmse:0.281852
[88]	eval-rmse:0.341632	train-rmse:0.280874
[89]	eval-rmse:0.341365	train-rmse:0.280027
[90]	eval-rmse:0.341103	train-rmse:0.278994
[91]	eval-rmse:0.340849	train-rmse:0.278042
[92]	eval-rmse:0.340639	train-rmse:0.277341
[93]	eval-rmse:0.340477	train-rmse:0.276679
[94]	eval-rmse:0.340338	train-rmse:0.275842
[95]	eval-rmse:0.340181	train-rmse:0.275018
[96]	eval-rmse:0.339961	train-rmse:0.273998
[97]	eval-rmse:0.339777	train-rmse:0.273135
[98]	eval-rmse:0.33961	train-rmse:0.27231
[99]	eval-rmse:0.339479	train-rmse:0.271249

In [21]:
#Test predictions
pred = np.exp(gbm.predict(xgb.DMatrix(X_test))) - 1

In [22]:
#Use mean absolute error to get a basic estimate of the error
mae = (abs(pred - y_test)).mean()
mae

4.977627277374268

In [23]:
#Take a look at feature importance
feature_scores = gbm.get_fscore()
feature_scores

{'latitude_difference': 50336,
 'dropoff_latitude': 76171,
 'pickup_weekday': 20997,
 'pickup_longitude': 86783,
 'pickup_month': 16832,
 'pickup_day': 37404,
 'pickup_minute': 39579,
 'passenger_count': 23732,
 'store_and_fwd_flag': 987,
 'longitude_difference': 63027,
 'pickup_hour': 34406,
 'dropoff_longitude': 71331,
 'trip_distance': 61390,
 'pickup_latitude': 77005}

In [24]:
#This is not very telling, so let's scale the features
summ = 0
for key in feature_scores:
    summ = summ + feature_scores[key]

for key in feature_scores:
    feature_scores[key] = feature_scores[key] / summ

feature_scores

{'latitude_difference': 0.07626897784781357,
 'dropoff_latitude': 0.11541410345768054,
 'pickup_weekday': 0.03181460044243765,
 'pickup_longitude': 0.13149337858722993,
 'pickup_month': 0.025503803145549866,
 'pickup_day': 0.05667444468014182,
 'pickup_minute': 0.05996999909088154,
 'passenger_count': 0.03595866541410346,
 'store_and_fwd_flag': 0.0014954998636322312,
 'longitude_difference': 0.09549834843480105,
 'pickup_hour': 0.052131882784326795,
 'dropoff_longitude': 0.10808054789539077,
 'trip_distance': 0.09301797024152247,
 'pickup_latitude': 0.11667777811448832}

# Save the model

In [25]:
filename = "xgb_model.sav"
pickle.dump(gbm, open(filename, 'wb'))